/* src/App.css */
body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  margin: 0;
  padding: 0;
}

.App {
  text-align: center;
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

.products {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}

h1 {
  color: #333;
}
/* Responsive Styles */
@media (max-width: 600px) {
  .products {
    flex-direction: column;
    align-items: center;
  }

  .product {
    width: 90%; /* Make products full width on small screens */
  }
}

